main > .container {
    padding: 60px 15px 0;
}

.cryptoContainer {
    border: 1px solid #146c43;
    padding: 3px;
}

.letter:hover {
    background-color: #4c943a;
    cursor: pointer;
}

.letterContainer {
    border-bottom: 1px solid grey;
}

.letter-solved {
    cursor: default;
}

.letter-selected {
    background-color: #4c943a;
}

.play-again-button {
    font-size: 1.3em;
}

