main > .container {
    padding: 60px 15px 0;
}

.cryptoContainer {
    border: 1px solid #146c43;
    padding: 3px;
}

.letter {
    border: 0px solid grey;
}

.letter-selected {
    border: 2px solid green;
}

.play-again-button {
    font-size: 1.3em;
}
